
#homeHeader {
    text-align: center;
}
#homeHeaderBrand {
    height: 40px;
    margin-right: 10px;
    border-radius: 20%;
}
#homeHeaderTop {
    font-family: 'Inter';
    font-weight: 600;
    color:#6E59A5;
}
#homeHeaderMiddle{
    font-family: 'inter';
    font-weight: 400;
    color: #020817;
}
#homeHeaderBottom {
     color: #64748B;
     font-size: 25px;
}
#homeLoginButton {
    border: 1px solid lightgrey;
    border-radius: 5px;
}
#homeCards {
    margin-top: 20%;
    width: 100%;
}
#homeCardsTitle {
    font-weight: 900;
}