.btn-notes-dropdown {
    appearance: none;
    background: #FCFCFD url('data:image/svg+xml;utf8,<svg fill="%23333" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 16px 16px;
    color: #333;
    padding: 0.6rem 1rem;
    padding-right: 2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    min-width: 5rem;
    text-align: left;
}
.dropdown-item {
    background: white;
    border: none;
    color: #333;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    min-width: 8rem;
    text-align:left;
    color:red;
}
.dropdown-item:hover {
    background: #cac0ff;
    
}
.note-pane {
    background: white;
    border-radius: 8px;
    color: #000000;
    padding: 18px 20px 8px;
}

.like-heart {
    color: #9B87F5;
    margin-top: 25%;
}
.like-counter{
    font-size: 20px;
    font-weight: 500;
    color: #64748B;
}

.btn-no-notes {
    background-color: #8b5cf6;
    color: white;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 8px;
}
.title-anchor {
    text-decoration:none;
    color: #333;
}
.subject-pill{
    display: inline-block;
    background-color: #F4EBFF;
    border-radius: 12px;
    text-align: left;
    font-size: 85%;
}



