/*
Primary Purple: #8b5cf6
Secondary Purple: #7E69AB
Tertiary Purple: #6E59A5

Other shades of purple:
    50: '#f2f0ff',
    100: '#e5deff',
    200: '#cac0ff',
    300: '#b09dff',
    400: '#9b87f5',
    500: '#8b5cf6',
    600: '#7e69ab',
    700: '#6E59A5',
    800: '#4c3275',
    900: '#2c1d4d',
*/
body {
    background-color: #FAF8FD;
    font-family: 'Segoe UI', sans-serif;
}

/* navbar styling */
.navbar {
    background-color: #fdfdfd;
    padding: 0.8rem 1rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

/* Logo Styling */
.navbar-brand {
    font-weight: bold;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.navbar-brand:hover {
    color: #6E59A5;
}

/* logo styling */
.navbar-brand img {
    height: 40px;
    margin-right: 8px;
    border-radius: 8px;
}

/* toggler styling */
.navbar-toggler {
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.navbar-toggler:hover {
    background-color: #cac0ff;
    color: #6E59A5;
}

/* The tabs styling */
.nav-link {
    color: #858585;
    margin-right: 1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: var(--primary-color);
}

/* log-in and sign-up styling */
.auth-links {
    margin-left: auto;
    display: flex;
    gap: 0.8rem;
}

.btn-login {
    background: none;
    border: none;
    color: #333;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn-signup {
    background-color: #8b5cf6;
    color: white;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-signup:hover {
    background-color: var(--primary-color);
}

/* Profile Image Styling */
.profile-image img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
}

.profile-image:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-link.active {
    color: var(--primary-color) !important;
    font-weight: bold;
}